@import "compass/reset";
@import "compass/css3";
@include global-reset;
@import 'mixins';

$white: #fafafa;
$lighter-grey: #f7f7f7;
$light-grey: #D3D3D3;
$grey: #A2A2A2;
$dark-grey: #333;
$black: #51463f;
$blue: ##9ab531;

$font: 'ff-tisa-web-pro', 'Tisa Web Pro', Georgia, serif;
$font-header: 'freight-sans-pro', 'Freight Sans Pro', sans-serif;
$font-code: Source Code Pro, monospace;
$font-color: $dark-grey;

$a-color: $blue;
$a-color-hover: $blue;

$wrapper-width: 700px;
$mobile-width: 25em;
$mobile-height: 37.5em;
$tablet-width: 40em;
$tablet-height: 45em;
$desktop-width: 65em;
$desktop-height: 60em;

$lg-blockquote-margin-left: -24px;
$lg-list-margin-left: 0;

@import 'custom';

@import 'formatting';
@import 'layout';
