<nav class="links">
    <ul>
        <li class="twitter"><a title="Twitter" href="http://twitter.com/lifetrampapp"><i class="fa fa-fw fa-twitter"></i></a></li>
        <li class="facebook"><a title="GitHub" href="http://facebook.com/lifetramp"><i class="fa fa-fw fa-facebook"></i></a></li>
    </ul>
</nav>
